body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  min-height: 100vh;
}

.login-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  padding-top: 40px;
}

.login-wrapper .image-wrapper {
  flex-grow: 1;
  max-width: 60vw;
  display: flex;
}

.login-wrapper .login-widget {
  flex-grow: 1;
  align-items: center;
  align-content: center;
}

.login-wrapper .login-widget > .widgetRender {
  margin-top: 10%;
}

.humberImg {
  max-width: 100%;
}

#home {
  min-height: 100vh;
  padding-top: 60px;
  max-width: 1024px;
  margin: 0px auto;
}

.home-header {
  margin: auto;
  text-align: center;
  margin-top: 40px;
}

.general-wrapper {
  width: 1024px;
  margin: 0 auto;
  padding-top: 60px;
  margin-top: 30px;
}

.consent {
  margin-top: 20px;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #000;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
